{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  {% if title %}
  <title>INSTAGRAM - {{title}}</title>
  {% else %}
    <title> INSTAGRAM </title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basepics.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  {% endblock %}
</head>
<body >
    {% include "navbar.html" %}

    {% block content %} 
    <h1 class='text-center' style="color: rgb(53, 28, 11); font-size: 60px;">Instagram</h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>