{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <div class="card" style="width: 60%; height: 50vh"> 
    <div class="card-body ">
        <div >
            <img src="{{user.profile.profile_pic.url}}" alt="" style="height: 40px; width: 40px; border-radius: 50%">
            <div style="float: right;"> 
                <a href="">@{{user.username}}</a>
            </div>
            
            {% for post in posts %}
               
                <div class="text-center">
                    <img src="{{post.pic.url}}" alt="" >
                </div>
                <div>
                    <p><i class="fa fa-heart-o" style="font-size:48px;color:red"></i>{{post.like}}</p>
                    <p><i class="far fa-comment-alt" style="font-size:48px;color:red"></i>{{post.comment}}</p>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div> -->

<!-- Card -->
<div class="card " style="height: 400px; width: 500px;">
        <div >
            <img src="{{user.profile.profile_pic.url}}" alt="" style="height: 40px; width: 40px; border-radius: 50%">
            <div style="float: right;"> 
            <a href="">@{{user.username}}</a>
        </div>
        {% for post in posts %}
        <!-- Card image -->
        <img class="card-img-top" src="{{post.pic.url}}" alt="Card image cap">
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a>@{{user.username}}</a></h4>
          <!-- Text -->
          <p class="card-text"></p>{{post.caption}}</p>
          <!-- Button -->
          <a href="comment.html" class="btn btn-primary">{{comment.comment}}</a>
          {% endfor %}
        </div>
      
      </div>
      <!-- Card -->
{% endblock %}