{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <div class="card" style="width: 60%; height: 50vh"> 
    <div class="card-body ">
        <div >
            <img src="{{user.profile.profile_pic.url}}" alt="" style="height: 40px; width: 40px; border-radius: 50%">
            <div style="float: right;"> 
                <a href="">@{{user.username}}</a>
            </div>
            
            {% for post in posts %}
               
                <div class="text-center">
                    <img src="{{post.pic.url}}" alt="" >
                </div>
                <div>
                    <p><i class="fa fa-heart-o" style="font-size:48px;color:red"></i>{{post.like}}</p>
                    <p><i class="far fa-comment-alt" style="font-size:48px;color:red"></i>{{post.comment}}</p>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div> -->

<div class=" card container " >
{% for post in posts %}
<!-- <div class=" " style="height: 40vh; width: 60vh;"> -->
        <div >
            <a href="/accounts/profile"><img src="{{user.profile.profile_pic.url}}" alt="" style="height: 40px; width: 40px; border-radius: 50%"></a>
            <div style="float: right;"> 
            <p>@{{user.username}}</p>
        </div>
        <img class="card-img-top" src="{{post.pic.url}}" style="height: 500px; width: 1000px;" alt="Card image cap">
        <div class="card-body">
        <p class="card-text"></p>{{post.caption}}</p>
        <div>
            <p><i class="fa fa-heart" style="font-size:48px;color:red"></i>{{post.like}}</p>
            <p><i class="far fa-comment-alt" style="font-size:48px;color:red"></i>{{comment.comment}}</p>
        </div>
          <a href="comment.html" class="btn btn-primary">{{comment.comment}}</a>
          {% endfor %}
        </div>
      
      </div>
    <!-- </div> -->
</div>
{% endblock %}